.Table{
  margin-top: 30px;
  width: 100%;
  height: max-content;
  border-spacing: 0;

  tr{
    
    &:hover{
      td{
        background: #e8e8e8;
      }
    }
  }

  th:first-of-type{

    div{
      padding-left: 15px;
      width: 60%;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 15px;
  
      input{
        width: 15px;
        height: 15px;
      }
    }
  }

  th{
    border-bottom: 1.5px solid #e8e8e8;
  }

  thead,td{
    font-family: 'OpenSans-SemiBold';
    height: 40px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1.5px solid #e8e8e8;
  }

  td{
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    div{
      display: flex;
      padding-left: 15px;
      align-items: center;
      gap: 20px;

      input{
        width: 15px;
        height: 15px;
      }

      .icon{
        background: #4900ff;
      }
    }
  }

  @include mobile{
    min-width: 600px;
  }
}